@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-base: #5d9592;
    --color-important: #5bc783;
    --color-warning: #BC4749;
    --font-principal: "Bebas Neue", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --font-color-light: #FFFFFF;
    --font-color-dark: #3F3E3F;
    --border-radius: 0px;
    --box-bckg: #d6eab2;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}