@import url(styles-theme-a.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
}

main {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 24px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    border: none;
    padding: 12px 16px;
    font-size: 20px;
    color: var(--font-color-light);
    border-radius: var(--border-radius);
    max-width: 200px;
}

.btn-base {
    background-color: var(--color-base);
}

.btn-important {
    background-color: var(--color-important);
}

.btn-warning {
    background-color: var(--color-warning);
}

.fonts p {
    color: var(--font-color-dark);
}

.font-principal {
    font-family: var(--font-principal);
    font-size: 24px;
}

.font-secondary {
    font-family: var(--font-secondary);
    font-size: 18px;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bckg);
    color: var(--font-color-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);    
}