<div class="login">
  <mat-card class="login__card">

    <mat-card-header>
      <mat-card-title>Welcome Back</mat-card-title>
      <mat-card-subtitle>
        Enter your credentials to access your library.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__form-label">
          <label>Username</label>
        </div>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="example"
            required
            formControlName="username"
          />
           @if (loginForm.get('username')?.hasError('required')) {
              <mat-error>Username is required</mat-error>
            }

            @if (loginForm.get('username')?.hasError('minlength')) {
              <mat-error>Username must contain at least 4 characters</mat-error>
            }
        </mat-form-field>

        <div class="login__form-label">
          <label>Password</label>
        </div>

        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="••••••••"
            required
            formControlName="password"
          />
          @if (loginForm.get('password')?.hasError('required')){
            <mat-error>Password is required</mat-error>
          }
          @if (loginForm.get('password')?.hasError('minlength')) {
            <mat-error>
              Password must contain at least 8 characters
            </mat-error>
          }        
        </mat-form-field>

        @if (loginError) {
          <div class="login__error">
            Invalid username or password
          </div>
        }

        <button
          mat-raised-button
          color="primary"
          class="login__button"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Access Library
          <mat-icon fontSet="material-symbols-outlined">
            arrow_forward
          </mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>