<header>
    <div class="container">
        <div class="header__logo">
            <p>BookShelf</p>
        </div>
        <nav class="header__nav">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
