<mat-toolbar class="header">
  <div class="header__content">

    @if (authService.isLogged()) {
      <a class="logo">
        BookShelf
      </a>
    } 
    
    @if (!authService.isLogged()) {
      <a routerLink="/" class="logo">
        BookShelf
      </a>
    }
    

    @if (!authService.isLogged()) {
    <nav class="nav">
        <div class="mainNav">
            <a mat-button routerLink="/">BookShelf</a>
            <a mat-button routerLink="/about">About</a>
        </div>
        <div class="userNav">
            <button mat-button routerLink="/login">
                <mat-icon fontSet="material-symbols-outlined">
                account_circle
                </mat-icon>
                Login
            </button>
        </div>
    </nav>
    }

    @if (authService.isLogged()) {
    <nav class="nav">
        <div class="mainNav">
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button routerLink="/gallery">Gallery</a>
        <a mat-button routerLink="/crud">Library</a>
      </div>
      <div class="userNav">
        <a mat-button routerLink="/profile">
          <mat-icon fontSet="material-symbols-outlined">
            account_circle
        </mat-icon>
          {{authService.getUsername()}}
        </a>

        <button mat-icon-button aria-label="Logout" (click)="logout()">
          <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
        </button>
      </div>  
    </nav>
       
    }

  </div>
</mat-toolbar>