#root {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header, footer {
    display: flex;
    background-color:cadetblue;
    padding: 16px;
}

header img {
    width: 32px;
}

main {
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color:silver;
    padding: 16px;
}

.todo-modal {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(4px);
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
}

.todo-modal.active {
    opacity: 1;
    visibility: visible;
}

.todo-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-modal__content{
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 16px 0;
}

