$bg-color: #0F0F0F;
$color-dark: #272727;
$color-light: #FFFFFF;

/* basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
 margin: 0;
}

img {
    max-width: 100%;
    display: block;
}
/* all */
body {
    background-color: $bg-color;
    font-family:'Courier New', Courier, monospace;
    color: $color-light;
    padding: 32px 24px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* header */
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

img {
    max-width: 250px;
}

/* card */
.card {
    background-color: $color-dark;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 16px;
    padding: 24px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card__header {
        text-align: center;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .card__content-info p {
        font-size: 18px;
        font-weight: bold;

        span {
            font-size: 18px;
            font-weight: 500;
        }
    }

    .card__content-instr {
        display: flex;
        flex-direction: column;
        gap: 8px;

        code {
            text-align: center;
            background-color: $bg-color;
            padding: 12px;
        }
    }
}


